.mainContainer{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.macronutrientContainer{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    gap: 0px 20px;
    width: 520px;
}

.macronutrientElem{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.ingredientNameText{
    font-family: JetBrains Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    text-align: center;
}
